doctype html
html
    head
        base(href=base)
        meta(charset="UTF-8")
        title Mite Overtime
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap-theme.css")
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="javascripts/script.js")

    body
        div.container
            h1 Calculate Your Mite Overtime
            p The API key needs to be enabled in the My user section (Do not forget to save your settings). Copy the key from there.
            form#mite-form
                div.form-group
                    label(for="form-org") Mite Organization (https://ORGANIZATION.mite.yo.lk/)
                    input.form-control#form-org(name="form-org", type="text", value="foryouandyourcustomers")
                div.form-group
                    label(for="form-api") Mite API key
                    input.form-control#form-api(name="form-api", type="text", value="")
                div.form-group
                    label(for="form-perweek") Expected hours per day
                    input.form-control#form-perday(name="form-perweek", type="text", value="7.7")
                div.form-group
                    input(type="submit", value="calculate overtime", class="btn btn-default")

            h1 Result
            table.table.table-striped
                tr
                    th Required
                    td#required
                tr
                    th Actual
                    td#actual
                tr
                    th Overtime
                    td#overtime

