doctype html
html
    head
        meta(charset="UTF-8")
        title Mite Overtime
        link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap-theme.css")
        script(src="./bower_components/jquery/dist/jquery.min.js")
        script(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="./javascripts/script.js")

    body
        div(class="container")
            h1 Calculate Your Mite Overtime
            p The API key needs to be enabled in the My user section (Do not forget to save your settings). Copy the key from there.
            form(id="mite-form")
                div(class="form-group")
                    label(for="form-org") Mite Organization (https://ORGANIZATION.mite.yo.lk/)
                    input(class="form-control", id="form-org", name="form-org", type="text", value="foryouandyourcustomers")
                div(class="form-group")
                    label(for="form-api") Mite API key
                    input(class="form-control", id="form-api", name="form-api", type="text", value="")
                div(class="form-group")
                    label(for="form-perweek") Expected hours per day
                    input(class="form-control", id="form-perday", name="form-perweek", type="text", value="7.7")
                div(class="form-group")
                    input(type="submit", value="calculate overtime", class="btn btn-default")

            h1 Result
            table(class="table table-striped")
                tr
                    th Required
                    td(id="required")
                tr
                    th Actual
                    td(id="actual")
                tr
                    th Overtime
                    td(id="overtime")

